@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Pen+Script&display=swap');

body{
    /* background-color: rgba(28,31,135); */
    font-family: 'Nanum Gothic', sans-serif;
}

div.wrapper {
    width: 100%;
    margin: auto;
    /* border:  1px solid black; */
}

div.container{
    max-width: 1024px;
}

section{
    padding-top:3rem;
    padding-bottom: 3rem;
}

section div.container div.title h2.main{
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 2rem;
}

/* 섹션1: 타이틀 */

section#section-1{
    /* border:1px solid orange; */
    /* background-color: white; */
    padding-top: 3rem;
    padding-bottom: 7rem;
    background: url(../img/night-sky.jpg); 
    background-size: cover;
    filter: grayscale(40%);
    color: white;
}

section#section-1 div.title{
    max-width: 425px;
    margin: auto;
}

section#section-1 div.title p.sub{
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding-left: 1.4rem;
    margin-bottom: 0;
}

section#section-1 div.title h1.main{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 8rem;
    letter-spacing: 1.5rem;
    text-align: center;
    line-height: 10rem;
    margin-top: -1.6rem;
}

section#section-1 article{
    max-width: 425px;
    padding-top: 2rem;
    margin: auto;
}

section#section-1 article p{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom:0;
}

/* 섹션2: 예시 및 후보작 */

section#section-2{
    background-color: #F7F4EF;
}

section#section-2 div.title h2.main{
    font-size: 1.5rem;
    font-weight: bold;
}
section#section-2 article{
}
section#section-2 article div.content{
    /* border:1px solid black; */
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    color: black;
}
section#section-2 article div.content p.post{
    text-align: center;
    font-size: 1.5rem;
}
section#section-2 article div.content p.author{
    text-align: center;

}

/* 섹션3: 공모전 안내 */
section#section-3{
    background-color: #F7F4EF;
}
section#section-3 div.container article{
    /* border: 1px solid rgba(0,0,0,0.3); */
    padding: 1rem;
    background-color: white;
    border-radius: 7px;
}
section#section-3 article div.part .title{
    font-size: 1rem;
}

/* 섹션4: 공모작 만들기 */
#section-4{
    background-color: #F7F4EF;
}
#section-4 .container .row article#step-1{
    padding-bottom: 2rem;
}
#section-4 .container article .writing #paper{
    max-width: 300px;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    border: 1px solid rgba(0,0,0,0.2);
    width: 300px;
    height: 300px;
    /* border: 1px solid blue; */
    /* background-color: white; */
    /* padding-bottom: 62.3%; */
}

#section-4 .container article .writing #paper #input-grp{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: white;
    background: url("../img/paper.jpg") no-repeat center center;
    background-size: cover;
    /* font-family: 'Nanum Pen Script', cursive; */

}

#input-grp #article-wrapper{
    text-align: center;
    padding-top: 15%;
}

#input-grp #article-wrapper textarea#article-input{
    display: inline-block;
    width: 90%;
    text-align: center;
    font-size: 1.5rem;
    resize: none;
    vertical-align: bottom;
    border: none;
    background-color: transparent;
    outline: none;
}

#article-count-wrapper{
    text-align: right;
    padding-right: 0.8rem;
    color: rgba(0,0,0,0.5);
}

#input-grp #author-wrapper{
    text-align: center;
    padding-top: 5%;
}

#input-grp #author-wrapper #author-input{
    display: inline-block;
    width: 90%;
    text-align: center;
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
    outline: none;
    /* font-family: 'Nanum Pen Script', cursive; */

}

#send-btn-wrapper{
    padding-top: 0.5rem;
    text-align: center;
}

#send-btn{
    max-width: 300px;
    width: 100%;
    height: 3rem;
    margin: auto;
    border: 1px solid black;
    font-size: 1.2rem;
}

#download-btn{
    max-width: 300px;
    width: 100%;
    height: 3rem;
    margin: auto;
    border: 1px solid black;
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

.canvas-container{
    margin: auto;
}

#workCanvas{
    border: 1px solid rgba(0,0,0,0.2);
}

/* Section 5 결과 */

section#section-5{
    background-color: #F7F4EF;
}
section#section-5 div.title{
    text-align: center;
    font-size: 1rem;
}
div#canvas-wrapper{
    text-align: center;
}
/* canvas#workCanvas{
    border:1px solid black;
} */
div#download-btn-wrapper{
    text-align: center;
}

/* 섹션 6 응모작 전시 */
section#section-6{
    background-color: #F7F4EF;
}

section#section-6 div.title h2.main{
    font-size: 1.5rem;
    font-weight: bold;
}

#section-6 .container #sortBy{
    text-align: right;
    font-weight: bold;
}

#section-6 article .content{
    /* border: 1px solid black; */
    padding: 1rem;
    padding-bottom: 1.5rem;
    margin: 1rem;
    background-color: white;
    color: black;
    position: relative;
    margin: 1rem 0;
}

#section-6 article div.content p.post{
    text-align: center;
    font-size: 1.5rem;
}
#section-6 article div.content p.author{
    text-align: center;
}
#section-6 article .content .like-box{
    position: absolute;
    right: 1rem;
    bottom: 0.5rem;
    cursor: pointer;
    font-size: 1.5rem;
}


/* Footer */
#section-7{
    /* background-color: #F7F4EF; */
    background-color:  rgba(0,0,0,0.85);
    color: white;
}
#section-7 .container article{
    color: white;
    padding: 1rem;
    border-radius: 7px;
}
#section-7 article div.part .title{
    font-size: 1rem;
}





/* 반응형 */

 /* // Extra small devices (portrait phones, less than 576px) */
 @media (max-width: 330px){
         section#section-1 div.title h1.main{
        font-size: 5rem;
    }
    
    section#section-1 article{
        padding-top: 1rem;
    }
    
    section#section-1 article p{
        font-size: 2rem;
    }
    section#section-4 div.container article div.writing div#paper{
        /* padding-bottom: 96%; */
    }
 }
 @media (min-width: 340px) and (max-width: 575.98px) { 
    section#section-1 div.title h1.main{
        font-size: 5rem;
    }
    
    section#section-1 article{
        padding-top: 1rem;
    }
    
    section#section-1 article p{
        font-size: 2rem;
    }
    section#section-4 div.container article div.writing div#paper{
        /* padding-bottom: 89%; */
    }

  }
 
 /* // Small devices (landscape phones, 576px and up) */
 @media (min-width: 576px) and (max-width: 767.98px) { 
    section#section-4 div.container article div.writing div#paper{
        /* padding-bottom: 55%; */
    }
  }
 
 /* // Medium devices (tablets, 768px and up) */
 @media (min-width: 768px) and (max-width: 991.98px) { 
    section#section-4 div.container article div.writing div#paper{
        /* padding-bottom: 42%; */
        /* padding-bottom: 62.3%; */
    }

  }
  
 
 /* // Large devices (desktops, 992px and up) */
 @media (min-width: 992px) and (max-width: 1199.98px) { 
  
  }
 
 /* // Extra large devices (large desktops, 1200px and up) */
 @media (min-width: 1200px) {  }